#button {
  font-size: larger;
  font-weight: 700;
  color: rgb(8, 73, 7);
  background-color: chartreuse;
  border-color: rgb(111, 199, 23);
  border-width: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  transition: padding 0.7s ease-in-out, background-color 0.7s ease-in-out, border-color 0.7s ease-in-out;
}

#limit {
  position: absolute;
  width: 700px;
  height: 700px;
}

#button:hover {
  padding: 6px 11px;
  background-color: rgb(232, 116, 116);
  border-color: rgb(239, 31, 31);
  color: rgb(99, 16, 16);
}
